h1{
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight:normal;
  font-style:normal;
}

body {
  background-color: rgb(29, 161, 242);
  background-image: linear-gradient(to right,#36D1DC,#5B86E5);
}

input[name='text'] {
  width:250px;
  height: 45px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #ccc;
  border-radius: 14px;
  padding: 12px 40px 12px 20px;
  outline: none;
  }

button[type="submit"] {
  width: 12.75px;
  height: 12.75px;
  background-color: transparent;
  background-image: url('icons8-search-30.png');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  margin-left: -35px;
  cursor: pointer;
  border: transparent;
  transition: height 0.5s, transform 0.5s;
}

button[type="submit"]:hover{
  transform: scale(1.2);
}

div.submit-button {
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -95%);
}
